*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COLORS*/

.dark-marine{
    background-color: rgb(5,130,131);
}

.light-marine{
    background-color: rgb(0, 166, 166);
}

.dark-gray{
    background-color: rgb(96, 109, 117);
}

.light-gray{
    background-color: rgb(226, 227, 231);
}

.white-gray{
    background-color: rgb(235, 236, 239);
}

.azure{
    background-color: rgb(217, 242, 242);
}

.dark-blue{
    background-color: rgb(13, 27, 42);
}

/*GENERAL*/

body{
    font-family: 'Inter', sans-serif;
    height: 100vh;
    overflow-y: scroll;
}
